body{
    height:100%;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.online_bar{
    width: 100%;
    position: fixed;
}
.online_div{
    height: 30px;
    background-color: #24FFD8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.online_number{
    width: 125;
    color: #2A313B;
    font-size: 4;
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    margin-left: 10px;
}
.date_div{
    display: flex;
    align-items: center;
    color: #2A313B;
    font-size: 4;
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    margin-right: 10px;
}
.link1{
    opacity: 1;
    padding-right: 11px;
}
.main{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 30px;  
    
}
.sidenav{
    height: 3000px;
    width: 14.5%;
    background: #2A313B;
    z-index:1;
    position: fixed;
    box-shadow: 0 1px;
}
.LOGOMAIN{
    width: 60.7%;
    margin-left: 19.6%;
    margin-top: 14px;
}
.line_bar{
    opacity: 0.1;
}
.casinobutton{
    display: flex;
    align-items: center;
    background: none;
    border: 0ch;
    margin-top: 10px;
    margin-left: 19.6%;
    align-items: center;
}
.casino{
    opacity: 0.5;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:19px;
    margin-top: 14px;
    padding-right: 6.8%;
}
.sidenav ul{
    padding-left: 40%;
    margin-top: -10%;
}
.sidenav ul li a{
    padding-top: 7px;
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 20px;
    
}
.sidenav ul li{
    list-style-type: none;
    padding-top: 5px;
}
.fire{
    padding-right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -4px;
}
.fire :hover{
    color: #24FFD8;
}
.textui{
    font-size: 16px;
}
.sidenav ul li :hover{
    color: #24FFD8;
}
.language{
    display: flex;
    align-items: center;
    background: none;
    border: 0ch;
    margin-top: -15px;
    margin-left: 19.6%;
    align-items: center;
}

.body_div{
   padding-left: 14.5%;
   width: 85.5%s;
   height: 100%;
   background-color: #232931 ;
   
   
   
}
.wapper_body_div{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85.5%;
    
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    font-size: 18;
    padding-right: 15px;
}
.navbar ul li a{
    font-size: 18;
    text-decoration: none;
    color: #EAE7D6;
   
}
.navbar ul li :hover{
    color: #24FFD8;
}
.search_navbar{
    padding-right: 65px;
}
.search_bar{
    width: 100%;
    max-width: 700px;
    height: 10%;
    background: none;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px;
    border: 1ch;
    border: #2A313B;
}
.search_bar input{
    background: transparent;
    flex: 1;
    background:none;
    border: 0;
    outline: none;
    border: 1px solid #EAE7D6;
    opacity: 0.3;
    font-size: 20px;
    color: none;
    border-radius: 24px 24px 24px 24px;
    padding-left: 15px;
    
    
}
.search_navbar{
    background-color: #232931;
}
.search_bar input::placeholder{
    color: #EAE7D6;
    
}
.search_bar input:focus{
    color: #EAE7D6;
    
}


.search_bar button img{
    width: 20px;
}
.search_bar button{
    background-color: none;
    cursor: pointer;
}
.searchicon{
    background: none;
    border: 0ch;
    margin: 0%;
    margin-left: -47px;
    cursor: pointer;
    
}
::placeholder{
    font-size: 24;
}
.first_ps{
    position: absolute;
    width: 482px;
    height: 310px;
    left: 309px;
    top: 107px;

    border-radius: 15px;
}
.search_dash{
    padding-top: 1.4%;
    align-items: center;
    padding-left: 20%;
}

.content_body_div{
    flex: 1 1 auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.footer{
    padding-bottom: 40px;
}
.pstr{
    height: 250px;
    margin-left: 2.2%;
}

.search_dash_main{
    justify-content: center;
}
.mp{
    width: 15%;
    justify-content: space-between;
    display:flex;
    margin-left: 2.2%;
    font-size: 48;
}
.name_switch{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.swtchrs{
    margin-right: 2.2%;
    
}
.mp_games{
    display: flex;
    margin-left: 2.2%;
}
.mp_game{
    margin-right: 3.35%;
    color: #EAE7D6;
}
.mp_text{
    margin-top: 5px;
}
.mp_text_descp{
    margin-top: -10px;
    opacity: 50%;
}
.all_games_div{
    width: 81vw;
    height: 100vh;
    background-color: #2A313B;
    margin-left: 2.2%;
    border-radius: 20px;
    
}
.ag_dashbar{
    height: 5%;
    width: 25vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 0;
    margin-left: 2.2%;
    justify-content: space-between;
}
.active_dash{
    height: 4vh;
    width: 5vw;
    background-color: #24FFD8;
    border-radius: 20px;
    margin-left: 1%;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: larger;
   
}
.inactive_dash{
    margin-left: 1%;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: larger;
    
}
.games_frow{
    display: flex;
    margin-left: 2.2%;
    margin-top: 2.2%;
}
.all_game_g{
    width: 10vw;
    height: 10vh;
    background-image: url(images/allgames_1p.png);
}
.footer{
    padding: 0;
    margin-top: 0;
    height: 270px;
    width: 100%;
    background: #2A313B;
}
.body_footer{
    width: 100%;
    border: 0ch;

}
.linef img{
    padding-top: -10px;
    width: 100%;
    padding-bottom: 14px;
}
.footer_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_items{
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.footer_item_1{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px; 
}
.footer_item_1 p{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-bottom: 4px;
    font-size: 16px;
}
.footer_item_1 ul{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    
}
.footer_item_1 ul li{
    list-style-type: none;
    padding-top: 5px;
    padding-top: 7px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 20px;
}
.footer_item_1 ul li a{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    color: #DCD6D6;
   
}
.footer_item_2{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px; 
    
}
.footer_item_2 p{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-bottom: 4px;
    font-size: 16px;
}
.footer_item_2 ul{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    
}
.footer_item_2 ul li{
    list-style-type: none;
    padding-top: 5px;
    padding-top: 7px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 20px;
}
.footer_item_2 ul li a{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    color: #DCD6D6;
   
}
.footer_item_3{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px; 
    
}
.footer_item_3 p{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-bottom: 4px;
    font-size: 16px;
}
.footer_item_3 ul{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    
}
.footer_item_3 ul li{
    list-style-type: none;
    padding-top: 5px;
    padding-top: 7px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 20px;
}
.footer_item_3 ul li a{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    color: #DCD6D6;
   
}
.footer_item_4{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px; 
    
}
.footer_item_4 p{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-bottom: 4px;
    font-size: 16px;
}
.footer_item_4 ul{
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    
}
.footer_item_4 ul li{
    list-style-type: none;
    padding-top: 5px;
    padding-top: 7px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 20px;
}
.footer_item_4 ul li a{
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    color: #DCD6D6;
   
}
.footer_bar img{
    padding-right: 25px;
}
.links_social_media{
    padding-right: 40px;
}
.social1 img{
    padding: 5px;
}
.social2 img{
    padding: 5px;
}

.footer_text p{
    padding-top: 30px;
    font-family: 'K2D', sans-serif;
    font-size: 12px;
    text-align: center;
}